.container{

}

div{
    text-align: center;
}


.section1{
    background-color: #1F2937;

}

.section2{

}
.section3{

}
.quote{
    background-color: #E5E7EB;
    padding: 50px ;
    font-family: 'light italic';
    color: #1F2937; 
    font-size: 36px;
    text-align: center;
    

}
.footer{

}